html, body{
    width : 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
table, td {
    border: 10px solid rgb(78, 24, 24);
    border-collapse: collapse;
}
td {
    border:10px solid rgb(26, 25, 9);
    width : 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.c-0 { background-color: white;}
.c-2 { background-color: rgb(25, 37, 199);}
.c-4 { background-color: rgb(123, 196, 39);}
.c-8 { background-color: rgb(177, 7, 245);}
.c-16 { background-color: rgb(56, 7, 7);}
.c-32 { background-color: rgb(17, 218, 191);}
.c-64 { background-color: rgb(105, 81, 81);}
.c-128 { background-color: rgba(247, 171, 7, 0.644);}
.c-256 { background-color: rgb(86, 55, 88);}
.c-512 { background-color: rgb(12, 78, 95);}
.c-1024{ background-color: rgb(250, 3, 3);}
.c-2048 { background-color: rgb(51, 45, 45);}
.c-4096 { background-color: rgb(19, 73, 17);}
.c-9192 { background-color: rgb(223, 189, 41);}
