html, body{
    width : 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
table, td {
    border: 10px solid rgb(78, 24, 24);
    border-collapse: collapse;
}
td {
    border:10px solid rgb(26, 25, 9);
    width : 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}